/* Global styling */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1a1a1a; /* Dark gray background */
  color: #fff; /* White text */
  overflow-x: hidden; /* Hide both horizontal and vertical scrollbars */
}

.lofi-title {
  font-family: 'Great Vibes', cursive; /* Cool cursive font */
  font-size: 3em; /* Adjust font size as needed */
  text-align: center; /* Center align the text */
  margin-top: 20px; /* Adjusted margin to move the title up */
  color: #FA5252; /* Adjust color as needed */
}

.lofi-subtitle {
  font-family: 'Great Vibes', cursive; /* Cool cursive font */
  font-size: 2em; /* Adjust font size as needed */
  text-align: center; /* Center align the text */
  color: #FA5252; /* Adjust color as needed */
  margin-bottom: 50px; /* Adjusted margin to move the subtitle up */
}

.container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  min-height: 100vh; /* Ensure the container is at least the height of the viewport */
}

.lofi-player {
  max-width: 600px; /* Adjusted max-width */
  width: 90%; /* Adjusted width */
  background-color: #1a1a1a; /* Dark gray background */
  border-radius: 15px; /* Reduced border radius */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 1); /* Box shadow */
  overflow: hidden;
  position: relative;
  margin: auto; /* Center horizontally */
  margin-bottom: 20px; /* Adjusted margin to move the player up */
}

.controls img:hover {
  filter: brightness(1.2); /* Increase brightness on hover */
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a1a1a; /* Semi-transparent dark background for controls */
  padding: 20px; /* Reduced padding */
  justify-content: space-evenly;
}

.prev-next {
  display: flex;
  align-items: center;
}

.play-pause {
  width: 50px; /* Adjusted width to match previous and next buttons */
  height: 50px; /* Adjusted height to match previous and next buttons */
  cursor: pointer;
  justify-content: center;
  margin-bottom: 30px;
}

.volume {
  display: flex;
  align-items: center;
  justify-content: space-around; /* Updated to space between */
  padding: 10px; /* Reduced padding */
}

.volume-icon {
  margin-right: 20px; /* Adjusted margin */
}

.volume-slider {
  width: 200px; /* Reduced width */
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px; /* Reduced height */
  background-color: white; /* Darker gray progress bar */
  border-radius: 5px; /* Reduced border radius */
}

.progress {
  height: 100%;
  background-color: #FA5252; /* Red progress bar color */
  border-radius: 5px; /* Reduced border radius */
  width: 0%; /* Initial progress width */
}

.volume-slider input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px; /* Reduced height */
  background-color: #FA5252;
  border-radius: 2.5px; /* Reduced border radius */
  outline: none;
}

.volume-slider input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px; /* Reduced width */
  height: 30px; /* Reduced height */
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

/* Add this CSS for track duration display */
.track-duration {
  text-align: center;
  color: #FA5252;
  font-size: 1.2em; /* Increased font size */
  margin-bottom: 10px;
}

.track-duration span {
  font-weight: bold;
  font-size: 1.4em; /* Increased font size */
}

.track-duration #currentTime::before,
.track-duration #totalDuration::before {
  content: "";
}

/* Add this CSS for track title display */
.track-title {
  text-align: center;
  color: #FA5252;
  font-size: 1.4em; /* Adjust font size as needed */
  margin-bottom: 10px;
}

.track-title span {
  font-weight: bold;
}
