body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  overflow: hidden;
}

.lofi-title {
  font-family: 'Great Vibes', cursive;
  font-size: 3em;
  text-align: center;
  margin-top: 20px;
  color: #FA5252;
}

.lofi-subtitle {
  font-family: 'Great Vibes', cursive;
  font-size: 2em;
  text-align: center;
  color: #FA5252;
  margin-bottom: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 40px; /* Increase margin for more spacing */
}

.lofi-player {
  max-width: 600px;
  width: 90%;
  background-color: #1a1a1a;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.controls img:hover {
  filter: brightness(1.2);
}

.controls {
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  padding: 20px;
  justify-content: space-evenly;
}

.prev-next {
  display: flex;
  align-items: center;
}

.play-pause {
  width: 80px;
  height: 80px;
  cursor: pointer;
  justify-content: center;
  margin-bottom: 20px; /* Decreased margin for vertical alignment */
}

.volume {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.volume-icon {
  margin-right: 20px;
}

.volume-slider {
  width: 200px;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #1a1a1a;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #FA5252;
  border-radius: 5px;
  width: 0%;
  transition: width 0.1s linear;
}

.progress:hover {
  background-color: #FF6B6B;
}

.volume-slider input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background-color: #FA5252;
  border-radius: 2.5px;
  outline: none;
}

.volume-slider input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.track-duration {
  text-align: center;
  color: #FA5252;
  font-size: 1.2em;
  margin-bottom: 20px; /* Increase margin for more spacing */
}

.track-duration span {
  font-weight: bold;
  font-size: 1.4em;
}

.track-duration #currentTime::before,
.track-duration #totalDuration::before {
  content: "";
}

.track-title {
  text-align: center;
  color: #FA5252;
  font-size: 1.4em;
  margin-bottom: 20px; /* Increase margin for more spacing */
}

.track-title span {
  font-weight: bold;
}

.loop-btn {
  cursor: pointer;
}

.loop-btn img:hover {
  filter: brightness(1.2);
}

.looping img {
  filter: brightness(1.5);
}

/* Style for the visualizer canvas */
#visualizer {
  display: block;
  margin: 20px auto;
  width: 90%; /* Adjusted width for better visibility */
  max-width: 600px;
  height: 200px; /* Increased height for better visualization */
  background-color: #1a1a1a;
  border-radius: 10px; /* Added border radius for a softer look */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Added shadow for depth */
}

.social-sharing {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.share-button {
  background-color: #FA5252;
  border: none;
  border-radius: 50%;
  padding: 15px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.share-button:hover {
  background-color: #FF6B6B;
}

.share-button i.fa-twitter {
  color: #fff;
  font-size: 24px; /* Adjust icon size */
}

/* Tooltip */
.tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  transition: opacity 0.3s ease;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

/* Show tooltip on hover */
.share-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
